.form-group {
  width: 200px;
  margin-right: 10px;
}

.initial {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}

.bg {
  position: absolute;
  top: -300px;
  z-index: -199;
  width: 100vw;
  height: 200vh;
  background: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.685)),
    url('../../assets/Image/raileurope_stylefame_swizerland_dribble.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

input {
  border-radius: 10px;
  outline: none;
  border: none
}

label {
  color: white;
  font-size: 18px;
}

img {
  margin-top: 20px;
  width: 80px;
}
