<div class="bg"></div>
<div class="container">

  <div class="d-flex justify-content-center">
    <img src="../../../assets/Image/logo.png" alt="logo">
  </div>

  <div class="row w-100 d-flex justify-content-center mt-5 mb-5">
    <div class="col-7">
      <div class="questions mt-5">
        <h1>
          <div class="highlight d-inline-block">What</div> would you like to explore?
        </h1>
        <h1>
          <div class="highlight d-inline-block">When</div> would you like to explore?
        </h1>
        <h1>
          <div class="highlight d-inline-block">Which</div> price?
        </h1>
      </div>
    </div>

    <div class="col-4">
      <form (submit)="speechToText()">
        <div class="w-100 m-2 d-flex justify-content-center">
          <button type="submit" class="btn btn-highlight record"><i class="fas fa-microphone"></i></button>
        </div>
        <div class="form-group d-inline-block w-100">
          <textarea style="font-size: 18px; width: 100%; border-radius: 10px;" rows="5" [(ngModel)]="speech" name="speech"
            class="form-control mt-2" id="speech"></textarea>
        </div>
      </form>
    </div>
  </div>


  <div class="d-flex justify-content-center w-100">
    <form class="mt-5" (submit)="onSubmit()">
      <div class="form-group d-inline-block">
        <label for="activity">Activity</label>
        <input style="width: 200px;" type="text" [(ngModel)]="configuration.activity" name="activity"
          class="form-control" id="activity">
      </div>
      <div class="form-group d-inline-block">
        <label for="departure_location">Departure</label>
        <input style="width: 200px;" type="text" [(ngModel)]="configuration.departure_location" name="departure_location"
          class="form-control" id="departure_location">
      </div>
      <div style="width: auto;" class="form-group d-inline-block">
        <label for="schedule">Schedule</label>
        <input style="width: 150px;" type="date" [(ngModel)]="configuration.schedule" name="schedule"
          class="form-control" id="schedule">
      </div>
      <div style="width: auto;" class="form-group d-inline-block">
        <label for="maxPrice">max. Price</label>
        <input style="width: 100px;" type="number" [(ngModel)]="configuration.maxPrice" name="maxPrice" class="form-control"
          id="maxPrice">
      </div>
      <div style="width:100px" class="form-group d-inline-block mb-0">
        <label for="participants">Participants</label>
        <input type="number" [(ngModel)]="configuration.participants" name="participants" class="form-control"
          id="participants">
      </div>
      <button type="submit" (click)="setSpinner(true)" class="btn btn-highlight">Submit</button>
    </form>
  </div>

  <div class="d-flex justify-content-center w-100">
    <app-result-card></app-result-card>
  </div>

</div>
